a {
    max-width: fit-content;
    align-self: center;
    &:hover {
        color: $colorhover;
    }
}

footer {
    background-color: black;
    padding-block: 30px;

    .footItems {
        display: flex;
        justify-content: center;
        gap: 50px;

        .itemsFoot {
            color: white;
            display: flex;
            gap: 5px;
            flex-direction: column;
            text-align: center;
            padding-inline: 2px;
            width: 30%;

            h3 {
                padding-top: 12px;
                font-size: 20px;
                font-weight: 500;
            }

            span {
                font-size: 18px;
            }

            .iconos-redes {
                display: flex;
                justify-content: center;
                gap: 20px;

            }

            @each $red, $color in $redessociales {
                .palabra-#{$red} {
                    transition: .2s;

                    &:hover{
                        color: $color;
                    }
                }
            }
        }
    }
}

@media (width <= 980px) {
    footer {
        .footItems {
            gap: 80px;
            flex-direction: column;
            justify-content: space-between;

            .itemsFoot {
                width: auto;
            }
        }
    }
}