$colorprincipal: #181717;
$colortexto: rgb(255, 255, 255);
$colorhover: rgb(204, 200, 132);
$fuentePrincial: 'Rubik', sans-serif;

$redessociales: (
    facebook: rgb(23 163 255),
    instagram: rgb(233 44 122),
    whatsapp: rgb(78 202 92)
)